@import '../../Vars'
@import '../../Vars'

.account
  .account-currency
    .account-currency-label
      min-width 100px
      display inline-block
    .account-hold strong
      color $color-orange
    > div
      margin-top 0.4em
    &+.account-currency
      margin-top 1em
      