@import '../../Vars'

.controls
  width 500px
  display inline-block
  padding 1.3em 0
  .button
    cursor pointer
    text-align center
    display inline-block
    margin 0 0.7em
    border-radius 5px
    padding 8px 10px
    min-width 96px
    color white
    font-weight bolder
    transition opacity .1s
    user-select none
    &.button-sell
      background-color $color-sell
    &.button-buy
      background-color $color-buy
    &:hover
      opacity 0.9