@import '../../Vars'

#top-header
  padding 0 1em
  background-color $color-header-background
  color $color-header-text
  .stats
    float right
  .navbar
    padding 1.5em 0
    float left
    width 225px
    .navbar-brand
      font-size 1.8em
    .navbar-metadata
      color #DDDDDD
      li
        display inline-block
        margin-right 1em