$color-header-background = #fff
$color-header-text = #333
$color-section-header = #313d45
$color-volume = $color-section-header
$color-background = #202b34
$color-text = #ddd
$color-orange = #f56b41
$color-green = #82d85f
$color-section-divider = #17232c
$color-buy = #4891eb
$color-sell = #eb487e

$font = 'Roboto', 'Arial', sans-serif
